<!DOCTYPE html>

<ion-header-bar class="bar-stable" style="background: #f5d9a3;">
    <button class="button button-icon back-button-icon" back-button></button>
    <h1 class="title" style="text-align: center;">订单完成</h1>
    <button class="button button-icon button-clear" ui-sref="customer">
        <img src="img/doorcollect/my.png" style="background-size: 25px;width: 50%;margin-right: 8px;margin-top: 10%"/>
    </button>
</ion-header-bar>

<ion-content ng-controller="doorcollectCtrl" style="background: #e9ebe6;">

    <div class="list" >

        <div class="item item-body text-center" style="background: #e9ebe6;">
            <h3 class="text-left">
                <div style= "position:relative ">
                    <div style= "position:absolute; left:0; top:0;"><span style="color: #000;">客官的要求小诺已收到，我们会在24小时内安排工作人员上门收款。请保持手机畅通，以便工作人员能够联系到您。 </span></div>
                    <img src= "img/doorcollect/orderCompleteLogo.png" style="width:40%;float: right;"> </img>
                </div>
            </h3>
        </div>

    </div>

    <button class="button button-light button-clear btnFillet" style="background:#ff7e00;width: 40%;margin-left: 30%;" ui-sref="homePage">继续逛</button>

</ion-content>