<!DOCTYPE html>
<ion-header-bar class="bar-kangnuo">
    <button class="button button-icon back-button-icon" back-button></button>

    <div class="h1  title" style="text-align: center; color: #000000; margin-top: 5px">更换品种</div>

    <menu-button></menu-button>
</ion-header-bar>

<ion-content>
    <div class="item" style="background: #ffffff; line-height: 35px;text-align: center">
        未配送的奶品折算金额:<label style="color: red;font-size: 20px">￥80.00</label>
    </div>

    <div class="item" style="line-height: 15px;background: #e9ebe6">
        更换新奶品
    </div>
    <!--<ul class="list">-->

    <!--<li class="item item-checkbox" ng-repeat="prod in products" style="height: 50px">-->
    <!--<label class="checkbox row">-->
    <!--<input type="checkbox" name="prodGroup" value="{{prod.prodId}}" ng-click="add2Prods(prod.prodId)">-->

    <!--<div class="col">{{prod.prodName}}</div>-->
    <!--<div class="col col-33">{{prod.prodPrice}}元/袋</div>-->
    <!--</label>-->
    <!--</li>-->
    <!--</ul>-->

    <!--<div class="item list item-stable" ng-repeat="prod in products">-->
    <!--<div type="radio " class="row">-->
    <!--<input class="col col-10" type="checkbox" name="prodGroup" value="{{prod.prodId}}"-->
    <!--ng-click="add2Prods(prod.prodId)"-->
    <!--style="position:absolute; top:50%;left:5%;transform:translate( -50%, -50%)">-->

    <!--<img class="col col-34 col-offset-10" src="{{'img/sn3.jpg'}}" style="height: 100px; width: 100px">-->

    <!--<label class="col col-offset-10">-->
    <!--<div class="row">{{prod.prodName}}</div>-->
    <!--<div class="row" style="margin-top: 20px">{{prod.prodPrice}}元/袋</div>-->
    <!--</label>-->
    <!--</div>-->
    <!--</div>-->

    <div class="list">
        <div class="row" ng-repeat="product in products">
            <div class="item item-thumbnail-top col-33" type="checkbox" ng-repeat="prod in product.prods">

                <img src="{{'img/sn3.jpg'}}" style="height: 100px; width: 100px">

                <div style="white-space:normal;width: 100%">{{prod.prodName}}{{prod.prodName}}{{prod.prodName}}</div>

                <div class="row">
                    <div class="col" style="margin-top: 20px;color: red">￥{{prod.prodPrice | number :
                        2}}
                    </div>

                    <input class="col col-25" type="checkbox" name="prodGroup" value="{{prod.prodId}}"
                           ng-click="add2Prods(prod.prodId)"
                           style="position:absolute; top:80%;left:75%;zoom:1.2 ">
                </div>

            </div>
        </div>
    </div>


</ion-content>

<ion-footer-bar>
    <div class="row bar bar-footer" style="background: #dddbdc">
        <div class="col"></div>
        <button class="col button changeMilkMakeSureBtn" ng-click="nextStep()">
            确定
        </button>
        <div class="col"></div>
    </div>
</ion-footer-bar>


