<!--<!DOCTYPE html>-->

<!--<div ng-controller="welcomeCtrl" style=" width: 100%;height: 100%;background: red">-->

<!--</div>-->

<ion-content ng-controller="welcomeCtrl" style="background:  rgb(228,230,224)">
    <div style="text-align: center; ">
        <div style="margin-top: 16%">
        <img src="img/mark.png" style="width: 20%;height: 20%">
        </div>
        <div style="margin-top: 18%;margin-left: 2%;margin-right: 2%">
        <img src="img/welcome.png" style="width: 50%;height: 50%"  >
        </div>
    </div>
</ion-content>
