<ion-header-bar class="bar-stable">
    <button class="button button-icon" ui-sref="homePage">主页</button>
    <h1 class="title">设置密码</h1>
    <button class="button button-icon" ui-sref="customer">我的</button>
</ion-header-bar>
<ion-content ng-controller="userManageCtrl">


        <img class="" src="img/u22.png" style="margin-left: 35%;margin-top: 25%">
        <p class="text-center" style="width: 60%;margin-left: 20%;margin-top: 8%">
            欢迎客官成为康诺注册用户。继续转转呗，哪天想换换口味可以随时通过订单管理更换
        </p>
    <button class="button button-stable" style="margin-left: 20%;width: 60%;margin-top: 20%" ui-sref="homePage">
       继续看看寻找新目标
    </button>


</ion-content>