<!--密码修改成功提示界面-->
<ion-header-bar class="bar-stable">
    <a class="button icon-left ion-chevron-left button-clear button-dark" ui-sref="customer"></a>
    <h1 class="title">修改密码</h1>
    <button class="button button-icon">. . .</button>
</ion-header-bar>

<ion-content ng-controller="userManageCtrl">

    <img class="" src="img/u22.png" style="margin-left: 35%;margin-top: 25%">
     <p class="text-center" style="width: 60%;margin-left: 20%;margin-top: 20%">
        恭喜客官，您的密码已经修改成功。    </p>

    </ion-content>