<!DOCTYPE html>
<button class="button button-icon icon ion-navicon" menu-button></button>
<div ng-show="menuShow" style="padding-top: 15%;" >
    <button class="button button-block button-kn-light" style="margin: 0%;padding: 0%" ui-sref="homePage">
        首页
    </button>

    <button class="button button-block button-kn-light" style="margin: 0%;padding: 0%" ui-sref="shoppingcar">
        购物车
    </button>

    <button class="button button-block button-kn-light" style="margin: 0%;padding: 0%" ui-sref="customer">
        我的
    </button>

    <button class="button button-block button-kn-light" style="margin: 0%;padding: 0%" ui-sref="login" ng-show="loginAndRegis">
        登录/注册
    </button>
</div>
